// Import your less files here:
// The cascade matters!<

// Vars and Mixins
@import "variables";
@import "mixins";

// General Styles Here
@import "reset";
@import "global";

// Components Here
@import "navigation";
.navone{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    
}

a{
    text-decoration: none;
    color: black;

}
h1{
    display: flex;
    justify-content: center; 
    font-size: 40px;
    margin: 30px;
    background-color: lightgrey;

}
@import "footer";
@import "home-page";

 .btn{
font-size: 27px;

      margin: 100px  100px;
      color:white;
      background-color:black;
      border-radius: 8px;
      display: flex;
      
  
}

footer{
    background-color: lightgrey;
}
 












