// Navigation code here
.navone{
    a{text-decoration: none;
        color:#454A59;}

    .center();
    justify-content: space-evenly;
    font-size: 20px;

    @media @phone { 
        display: flex;
        justify-content: space-evenly;
        .width();
       }

    }
    .btn a{
    
        @media @phone { 
            display: flex;
            justify-content: center;
            width: 100%
           }
    
    
           h1{
           text-align: center;
           
           }
        }